#cloud-config
user: crystal
password: changeme
chpasswd: { expire: False }
ssh_pwauth: False
hostname: {{item}}
ssh_authorized_keys:
  - ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDnSEaReLTaE/V0A3/nCOip/FGstIMbF25Wl68M2EjYE+8GEqce/CQ2QuVfBO3nT5A0CW5sP7fmsrwe2O9Fu4vjRqpZAYLzLTj00ohUINz4KMLlufGbxg78lJ1aCDbirkzHth8WJQEWtZdn+rBJY65NHjAaNbavlEtINTUHP0VnkCF5cb0O2FBuCv5SP4d2/OdY7Z668YrjUt+fFrcgcO/sIjSV1Ce+fGcGrfUN9pmgwV54jZDpyVnsoV45N5KmK6LprIIFIWsz543KiAiS2EVX0/Bs2GIC+EXt7L8ayvvl5v57k6k0vSVD4Qe+SH04GSKW31Nz1T/3lD5or9DkVbfB
  - ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABgQCzDiG3sjckfmiSuMnxZ+BJ7v7Gea/qjbpu+e7eTtwz2hiMKA8c9IDRwIIDIVNd+q+Xb5AyTh7VMeokCGTXRUUMau2A0/zMl/L4M2m/+4WVs4tlMoFc/oHMv9vtIKPmROQY+DUJUeExC9MwIAA3gjkSWXS4RzwJ4mv+xMz9JirxgU1U9CoYoCnbnsk+9dHzDI3/VxZV24FlTjodJ5LspHzExoFbJLmxlWw4OiHXJAGx1zbusu1WFbpGV4/56msM1ZVollr3N1ErAPMVKoKvLLn9dpK+g7PLHwFq3ghWxg04Ag+CqBmhkgO29pYVwuIFxCJMsUZIE37Xz9MvX1F3qvGq+lMgRZjIq9IvI8aQRI3H0jdH2Jli3UZQrKGiHBQmZ6LD5Ca/Q97EdYrKzY46yjIRE4QSs/QunheQqTJB66mP7zaBpuIfe+ZqEqmb4ofnlkbjYdvW0luMVdGv4N9mANC64pb+sXsBYVwLj833DJkx4uKIRZi4ukcYgv6hh7n+2b8=
  - ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIJLdbJ/SSHkYpEbQ2d8Nhgv8y2/hHY7xGVfCLSizRutJ
  - ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABgQDaEr11AcCXK0OnVN5wrFtetrFeAvQzGOmUvYjfexmtapDgwyw+ZK0v2ffyqHPbwNiNjdWRjB1+6tj3FMzkXAvfiKPXbGYxYF+ts0iLXH6rtWeiDXkLk7M20yS0/vmMSR+ip5RWtlofNi47tdbndzHv6tJU0NHba6vms5++lIrZc0Qj3HbDWHKVpXewgP33akU+WhQK+kzPo5kFlW53lQg3sJNoZc5bR1JrhJv+159e4KFCqy2ExwJeKsc35NAYy2u1LnHqTwLFFFxbpnHDQtxw/A7GyBndsIgRjeqt9Osnl4/1TXqkNesNPAdlN05HRfOJ+ygvORQ4IY4O/9SplN5A3weowdhtm0Mq4KNP2ydtUPmAN4bKa6hUEhebzyULADDe/nCLiYAgY4k/j/VJKix6kxU4cywZ9qcQ2Dn2D7RMR9HSuB+vv8Kmlh+ClkdoxCY2o5PAgAU+YYKf8LbI6zEQl0qYqsb9vzaXzP6L6F6ffc024hotzC86Szl6qiTDdYk=
  - ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIOZzoh/ZzxqO6+SVFlTrdVqkrq842RvfV6UonV7sdAZ5