#cloud-config
user: crystal
password: changeme
chpasswd: { expire: False }
ssh_pwauth: False
hostname: {{item}}
ssh_authorized_keys:
  - ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQCqI24GgbKr1QQ7d5Q/q8Pjk0aRjPgBnE8Eu1aJbEF/8gKiigeOpJ9huhWsZt8nD2JWb0JjWQdp5ADnBmbKj64yCIwALvxSkiYdxwbvLB1UZyUE40OVwWYKYwBKN+8OVvtFc5204tqfqdHKd1rJ02De/2xqi3YVh2Iwo2yz5zQc44ZssAFu5y73Y/85M+mCFAhDDdA3jvWlhi8309+O6iguUMZurM/1NWM4HbxrBQRMZyCvUIWeAJRaKG6fxuHM6bOdlXMKXhCZNCXq1r7/ANedErOlylmWqOIMm++najT651u9nr4w45veV10FlQc05w00Px5nKLZGaT4ONv4d/UVh
  - ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIJLdbJ/SSHkYpEbQ2d8Nhgv8y2/hHY7xGVfCLSizRutJ
  - ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQCcRi3gBsmd3h/085DxePt0xtp+JYx+g40PaAJSxQ1wHEGVJfKTB/riT1ezM8+K/+rehvIEHPf59yMnkoGtt8OkhHndX2PaJ6Tdhc2aihBD9kvMVSnRJNJdmTwPi7LHvQHP+q+9umI9fzV3VrSh5wQ1iiUkYc4pVF+dIHRNsNMFI+MJERJaqdFTrZ+isssptzet+kOxz/qB5FTT9iAHCPgLPGzKAwDWlZ0cQiFW8Yd9MzcdogyWXITqYWwTxOA82fLG4ik8OfvKdZiqlTJu2mWtS+AzrSV5y+3rEeY9iqhKB0yt/MMiWEKnpoJuNlq3ObU8rRHOXPIAtwMOfRHWVk/L
  - ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDKyNfU6nqIhdnc3gLv6U4dmTq8CuV+xdLyufhDEsv5fd0+IBaPOoegtm8BG3ovN4QxWBZymIz0OaLJW4t98/nWfXD6S+iX6Mu1pzMlWfZu6l/y67XwrCzpS0Txs/cPKy/R7QzSfn6tb+lZUkq62+MdbMgjVQZp7Hqlf6o8Gvv20pkNL3KUp8R1xywkRRtH/oqQB1vsLdUIgRo4KAR/e2AvqJAZphaMS4DAaUUnHbCn/kCr2/1/HKHNmnP6d1AfpYQoRo8SocrGQZIDKnAB73NTSaJPteOKczo4jk6f9o7716o56lD4eG+a1YxYsizjGEa735n+8+pfF1GlK9X8ZOmf
  - ssh-rsa AAAAB3NzaC1yc2EAAAABIwAAAQEArUE4kcgU36PO+Gt2U6riCzsSUBLZicFkIvDm8Y2BvcH9krx6PukWxYRFrVQ/RAr9w6ddn/LRXYy9poFs4aQWBRW+XpFc7PrXF0+B9+sP71Cw/JT28GuRww+TZ3zHuhakUb1iVoE44zBgH1fmLnkDeVsHxuYhodrn4smBjbYCvSEzXmu53Alq5yYuyDTaVDN0pJH6u7gX8sAj52YEoUzdO1kTrme8nku24bnN2GaxGQwOVACA08YCmDwg7ALrPwZZ0DyAAZbC3uvbaWeL7RfK+ZNnzjzOg0aJqQK/TTtQNtQrxYYnjc3zhaaj2t78jomw03i3G7isiviszIaNwwNWCw==